.post-img-header {
  width: 95%;
  max-width: 640px;
}

th {
  background-color: #3820F2;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #EBF1F2;
}

td {
  padding: 6px;
}